@use 'abstracts/mixins' as mixins;

.menu-item-list {
  display: flex;
  flex-direction: column;
  gap: mixins.pxToRem(12);

  &__loading,
  &__empty,
  &__fetching {
    display: flex;
    justify-content: center;
    padding: mixins.pxToRem(32) 0;
  }

  &__sentinel {
    height: 1px;
  }
}
