// Brand Theme
$color-primary: #e81d43;
$color-success: #24963f;
$color-danger: #e03546;

// Neutral Colors
$color-dark: #1c1c1c;
$color-light: #f8f8f8;

// Typography
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

:root {
  --ant-primary-color: #{$color-primary};
  --ant-error-color: #{$color-danger};
  --ant-success-color: #{$color-success};
}
