@use '../abstracts/mixins' as m;

.card {
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--color-card-shadow);
  width: 100%;
  max-width: m.pxToRem(480);
  padding: m.pxToRem(40) m.pxToRem(32);

  &__title {
    color: var(--color-text-primary);
    margin-bottom: m.pxToRem(4);
    text-align: center;
  }

  &__subtitle {
    color: var(--color-text-secondary);
    display: block;
    text-align: center;
    margin-bottom: m.pxToRem(32);
  }

  &__content {
    width: 100%;
  }
}
