@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as variables;

body {
  margin: 0;
  padding: 0;
  font-family: variables.$font-stack;
  font-size: mixins.pxToRem(16);
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
}

.ant-input {
  font-size: mixins.pxToRem(16);
}

.u-fullscreen {
  min-height: 100vh;
  width: 100%;
}
